<!-- video_simulacion.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.titulo }} - Simulación</title>

    <!-- CSS externo -->
    <link rel="stylesheet" href="{% static 'css/video_simulacion.css' %}">
</head>

<body>

    {% if video.tema and video.tema.curso %}
    <a href="{% url 'curso:curso_detalle' video.tema.curso.pk %}" class="btn-volver">
        <- Volver al Curso
    </a>
    {% endif %}

    <!-- CONTENEDOR PRINCIPAL -->
    <div class="header-case">
        <h1>{{ etapa.nombre|default:video.titulo }}</h1>
        <p>
            Paciente: {{ paciente_actual.nombres}} {{ paciente_actual.apellidos}}
        </p>
    </div>

    <div class="video-box">
        <iframe
            src="{{ video.embed_url }}"
            width="100%"
            height="450"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            title="{{ video.titulo }}">
        </iframe>
    </div>

    <!-- BOTONES DE SECCIONES -->
    <div class="button-bar">
        <div class="btn" data-section="ficha">Ficha Médica</div>
        <div class="btn" data-section="topicos">Anamnesis Remota: Topicos</div>
        <div class="btn" data-section="preguntas">Preguntas</div>
        <div class="btn" data-section="diagnostico">Diagnóstico</div>
        <!-- <div class="btn active" data-section="resumen">Resumen</div> -->
    </div>

    <!-- CONTENIDO DINÁMICO -->
    <div id="contentWindow" class="content-window"></div>

    {% if topicos_data %}
    {{ topicos_data|json_script:"topicos-data" }}
    {% endif %}
    {% if preguntas_data %}
    {{ preguntas_data|json_script:"preguntas-data" }}
    {% endif %}
    {% if respuestas_data %}
    {{ respuestas_data|json_script:"respuestas-data" }}
    {% endif %}
    {% if diagnosticos_data %}
    {{ diagnosticos_data|json_script:"diagnosticos-data" }}
    {% endif %}

    <div id="ficha-template" style="display: none;">
        <div class="form-container-inline">
            <h2 style="color: var(--ucn-blue-900); margin-bottom: 20px;">Registrar Paciente</h2>

            <form method="post" action="{% url 'simulacion:crear_paciente' video.pk %}">
                {% csrf_token %}

                <div class="estilo-formulario">
                    {{ form.as_p }}
                </div>

                <div style="margin-top: 25px; text-align: center;">
                    <button type="submit" class="btn active">Guardar Ficha</button>
                </div>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'js/video_simulacion.js' %}?v=2"></script>

</body>
</html>
