{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso Docente – KinergiaRoyale</title>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">

  <style>
    .page-logos {
      position: fixed;
      top: 16px;
      left: 24px;
      right: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      pointer-events: none;
    }

    .page-logos img {
      height: 225px;
      width: auto;
    }
  </style>
</head>

<body>

  <div class="page-logos">
      <img src="{% static 'img/logo_kinesiologia.jpeg' %}" alt="Logo Kinesiología">
      <img src="{% static 'img/logo_ucn.png' %}" alt="Logo UCN">
  </div>

  <section class="login-wrapper">

    <div class="login-container">

      <h1 class="login-title">Acceso Docente</h1>
      <p class="login-sub">Ingresa tus credenciales para continuar</p>

      {% if messages %}
        {% for m in messages %}
          <div class="alert-message">
              {{ m }}
          </div>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label>Email / Usuario</label>
          <input type="text" name="username" class="form-input" required />
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" name="password" class="form-input" required />
        </div>

        <a href="{% url 'usuario:forgot_password' %}" class="forgot-link">
          ¿Olvidaste tu contraseña?
        </a>

        <button type="submit" class="login-btn">Ingresar</button>

        <div class="register-text">
           ¿No tienes cuenta? <a href="{% url 'usuario:register_docente_view' %}">Regístrate</a>
        </div>
      </form>

    </div>

  </section>

</body>
</html>
