{% extends "docente/base_curso_config.html" %}
{% load static %}

{% block page_title %}Panel de Curso | Kinergia Royale{% endblock %}

{% block page_heading %}
Crea y asigna contenidos al curso 
{% endblock %}

{% block page_subtitle %}
En esta sección puedes crear y asignar el contenido que tendrá cada curso.
{% endblock %}

{% block tabs_nav %}
<ul class="nav nav-tabs mb-4" id="contentTabs">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-section="temas">Temas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-section="videos">Videos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-section="topicos">Anamnesis Remota</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-section="preguntas">Preguntas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-section="respuestas">Respuestas</a>
    </li>
</ul>
{% endblock %}

{% block sections_content %}
<div id="section-temas" class="content-section-modulo">
    {% include "docente/partials_ContenidoModulo_modals/tabla_temas.html" %}
</div>

<div id="section-videos" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_videos.html" %}
</div>

<div id="section-topicos" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_topicos.html" %}
</div>

<div id="section-preguntas" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_preguntas.html" %}
</div>

<div id="section-respuestas" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_respuestas.html" %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/asignar_contenido.js' %}"></script>
{% endblock %}

