{% extends "docente/base_curso_config.html" %}
{% load static %}

{% block page_title %}Pacientes del curso | Kinergia Royale{% endblock %}

{% block page_heading %}
Crea o selecciona pacientes y casos clínicos para el curso.
{% endblock %}

{% block page_subtitle %}
En esta sección puedes revisar los pacientes y casos clínicos asociados a este curso.
{% endblock %}

{% block tabs_nav %}
<ul class="nav nav-tabs mb-4" id="contentTabs">
  <li class="nav-item">
    <a class="nav-link active tab-tooltip" href="#" data-section="pacientes">
      1.- Pacientes
      <span class="tooltip-box">
        Debes completar los datos básicos del paciente, ya que estos se utilizarán durante la simulación clínica.<br>
        Se debe incluir información como:<br>
        • Nombre y edad<br>
        • Contexto general del paciente<br>
        • Información relevante para la entrevista.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="casos">
      2.- Casos clínicos
      <span class="tooltip-box">
        En esta sección se crean los casos clínicos que contextualizan la simulación.<br>
        El docente debe:<br>
        • Registrar una descripción narrativa del caso,<br>
        • Indicar el paciente asociado,<br>
        • Entregar el contexto clínico que será utilizado como base en la actividad evaluativa.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="diagnosticos">
      3.- Diagnósticos
      <span class="tooltip-box">
        Aquí se asignan diagnósticos a cada paciente.<br>
        Cada registro debe contener:<br>
        • Paciente asociado<br>
        • Caso clínico correspondiente<br>
        • Descripción detallada del diagnóstico<br>
        <br>
        Estos diagnósticos estarán disponibles para que el estudiante los revise una vez finalizada la entrevista.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="etapas">
      4.- Entrevistas
      <span class="tooltip-box">
        En esta sección puedes revisar las entrevistas configuradas para los pacientes del curso.<br>
        Cada entrevista vincula un caso clinico, (y su paciente) y un video especifico del modulo.
      </span>
    </a>
  </li>
</ul>
{% endblock %}

{% block sections_content %}


<div id="section-pacientes" class="content-section-modulo">
  {% include "docente/partials_PacientesModulo_modals/tabla_pacientes.html" %}
</div>

<div id="section-casos" class="content-section-modulo d-none">
  {% include "docente/partials_PacientesModulo_modals/tabla_casos_clinicos.html" %}
</div>

<div id="section-diagnosticos" class="content-section-modulo d-none">
  {% include "docente/partials_PacientesModulo_modals/tabla_diagnosticos.html" %}
</div>

<div id="section-etapas" class="content-section-modulo d-none">
  {% include "docente/partials_PacientesModulo_modals/tabla_etapas.html" %}
</div> 

<div id="section-partes" class="content-section-modulo d-none">
  {% include "docente/partials_PacientesModulo_modals/tabla_partes_cuerpo.html" %}
</div> 


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/asignar_pacientes.js' %}"></script>
{% endblock %}
