{% extends "docente/base_curso_config.html" %}
{% load static %}

{% block page_title %}Panel de Curso | Kinergia Royale{% endblock %}

{% block page_heading %}
Crea y asigna contenidos al curso 
{% endblock %}

{% block page_subtitle %}
En esta sección puedes crear y asignar el contenido que tendrá cada curso.
{% endblock %}

{% block tabs_nav %}
<ul class="nav nav-tabs mb-4" id="contentTabs">
  <li class="nav-item">
    <a class="nav-link active tab-tooltip" href="#" data-section="temas">
      1.- Temas
      <span class="tooltip-box">
        Los temas representan los módulos o unidades que estructuran cada curso.<br>
        Ejemplo para “Técnicas Kinésicas I”:<br>
        • Tema 1: Drenaje Postural<br>
        • Tema 2: Vibraciones y Percusiones<br>
        • Tema 3: Técnicas de Espiración<br>
        <br>
        Cada tema debe incluir un título y una descripción breve que contextualice su contenido.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="videos">
      2.- Videos
      <span class="tooltip-box">
        Aquí se registran los videos utilizados en las entrevistas simuladas.<br>
        El docente debe:<br>
        • Indicar un título descriptivo, y<br>
        • Asociar cada video al tema correspondiente.<br>
        <br>
        Esto asegura que el material audiovisual quede correctamente vinculado al flujo pedagógico del curso.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="topicos">
      3.- Anamnesis Remota
      <span class="tooltip-box">
        En esta sección se configuran los elementos que compondrán la anamnesis remota que el estudiante deberá analizar.<br>
        <br>
        El docente debe ingresar cada elemento indicando:<br>
        • Título del ítem de anamnesis<br>
        • Descripción breve del contenido<br>
        <br>
        Se consideran categorías típicas como: antecedentes mórbidos, médicos, gineco-obstétricos, quirúrgicos, entre otros.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="preguntas">
      4.- Preguntas
      <span class="tooltip-box">
        Aquí se gestionan las preguntas asociadas a cada ítem de anamnesis remota.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="respuestas">
      5.- Respuestas
      <span class="tooltip-box">
        Aquí se registran y organizan las posibles respuestas asociadas a las preguntas definidas en la anamnesis remota.
      </span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link tab-tooltip" href="#" data-section="asignacion">
      6.- Contenido adicional
      <span class="tooltip-box">
        En esta sección es donde debes agregar material adicional que quieras poner a disposición para los estudiantes:.<br>
        <br>
        Puedes agregar presentación, papers, links externos, entre otros.<br>
    </a>

  </li>
</ul>
{% endblock %}


{% block sections_content %}
<div id="section-temas" class="content-section-modulo">
    {% include "docente/partials_ContenidoModulo_modals/tabla_temas.html" %}
</div>

<div id="section-videos" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_videos.html" %}
</div>

<div id="section-topicos" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_topicos.html" %}
</div>

<div id="section-preguntas" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_preguntas.html" %}
</div>

<div id="section-respuestas" class="content-section-modulo d-none">
    {% include "docente/partials_ContenidoModulo_modals/tabla_respuestas.html" %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/asignar_contenido.js' %}"></script>
{% endblock %}

